@model List<TimiSoft.InformationCollection.Models.SourceContent>
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var sourceContent in Model)
{
    <p><a href="@sourceContent.Url" target="_blank">@sourceContent.Content</a> 
    [@(sourceContent.ContentType == 0?"系统":"用户")]</p>
}
