@model List<TimiSoft.InformationCollection.Models.UserSource>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var source in Model)
{
    <p>
        @source.SourceName
        @Html.ActionLink("列表", "Content", "Admin", new { id = source.SourceId }, null)
        @Html.ActionLink("采集", "Collect", "Admin", new { id = source.SourceId }, null)
    </p>
}
