@model TimiSoft.InformationCollectionWeb.Models.LocalPasswordModel
@{
    Layout = "~/Views/Shared/_Content.cshtml";
    ViewBag.Title = "管理帐户";
    ViewBag.Selected = "Account";
}

<section id="loginForm" style="padding-left:40px; width:240px;">

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>你已使用 <strong>@User.Identity.Name</strong>. 身份登录。</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

</section>

<section class="social" id="socialLoginForm" style="width:240px;">
    <h3>请牢记您的密码并定期修改。</h3>
</section>
